@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1em;
}

html {
    height: 100vh;
    background: linear-gradient(#35AAD5, #023859)fixed;
}


body {
    height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 1.5em;
}

#igoogleads {
    margin: auto;
    margin-top: 10px;
    border: 1px solid rgb(7, 61, 238);
    width: 200px;
    height: 120px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
}

main {
    background-color:  #F2E9BB;
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
}

section {
    padding: 20px;
}

div#idivresult {
    line-height: 25px;
}

p#iind {
    display: none;
    margin-bottom: 5px;

}

input[type=button] {
    padding: 3px;
    margin: 10px;
}

ul {
    margin-left: 25px;
}

div#idivresult a {
    font-size: small;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #01243a;

}

footer a {
    text-decoration: none;
    color: white;
}

footer i {
    font-size: 1.5em;
}